.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 57.44px;
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__subtitle {
  position: relative;
  margin-bottom: 35px;
  display: inline-block;
  color: #383a4c;
}

.advantages__subtitle::before,
.advantages__subtitle::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 43px;
  height: 2px;
  background-color: #383a4c;
}

.advantages__subtitle::before {
  left: -66px;
}

.advantages__subtitle::after {
  right: -66px;
}

.advantages__description {
  max-width: 732px;
}

.advantages__slider {
  position: relative;
}

.advantages__wrapp {
  width: 100%;
  overflow: hidden;
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  /*overflow: hidden;*/
}

.advantages__input {
  display: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 196px;
  font-size: 20px;
  font-weight: 500;
}

.advantages__num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 122px;
  margin-bottom: 16px;
  font-size: 57px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  border-radius: 50%;
  background-color: var(--color-accent-2);
}

.advantages__btn-control {
  display: none;
  height: 38px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.advantages__btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  transition: background-color, color 0.3s ease-in-out;
}

#advantage-1:checked ~ .advantages__btn-control .advantages__btn:nth-child(4),
#advantage-2:checked ~ .advantages__btn-control .advantages__btn:nth-child(1),
#advantage-3:checked ~ .advantages__btn-control .advantages__btn:nth-child(2),
#advantage-4:checked ~ .advantages__btn-control .advantages__btn:nth-child(3) {
  display: flex;
  float: left;
}

#advantage-1:checked ~ .advantages__btn-control .advantages__btn:nth-child(2),
#advantage-2:checked ~ .advantages__btn-control .advantages__btn:nth-child(3),
#advantage-3:checked ~ .advantages__btn-control .advantages__btn:nth-child(4),
#advantage-4:checked ~ .advantages__btn-control .advantages__btn:nth-child(1) {
  display: flex;
  float: right;
}

#advantage-1:checked ~ .advantages__btn-control .advantages__btn:nth-child(4)::after,
#advantage-2:checked ~ .advantages__btn-control .advantages__btn:nth-child(1)::after,
#advantage-3:checked ~ .advantages__btn-control .advantages__btn:nth-child(2)::after,
#advantage-4:checked ~ .advantages__btn-control .advantages__btn:nth-child(3)::after {
  content: '\2039';
}

#advantage-1:checked ~ .advantages__btn-control .advantages__btn:nth-child(2)::after,
#advantage-2:checked ~ .advantages__btn-control .advantages__btn:nth-child(3)::after,
#advantage-3:checked ~ .advantages__btn-control .advantages__btn:nth-child(4)::after,
#advantage-4:checked ~ .advantages__btn-control .advantages__btn:nth-child(1)::after {
  content: '\203A';
}

#advantage-1:checked ~ .advantages__btn-control .advantages__btn:nth-child(4):focus,
#advantage-2:checked ~ .advantages__btn-control .advantages__btn:nth-child(1):focus,
#advantage-3:checked ~ .advantages__btn-control .advantages__btn:nth-child(2):focus,
#advantage-4:checked ~ .advantages__btn-control .advantages__btn:nth-child(3):focus,
#advantage-1:checked ~ .advantages__btn-control .advantages__btn:nth-child(2):focus,
#advantage-2:checked ~ .advantages__btn-control .advantages__btn:nth-child(3):focus,
#advantage-3:checked ~ .advantages__btn-control .advantages__btn:nth-child(4):focus,
#advantage-4:checked ~ .advantages__btn-control .advantages__btn:nth-child(1):focus {
  background-color: #4b4d62;
  color: #fff;
}

/*.advantages__btn:focus {
  background-color: #4b4d62;
  color: #fff;
}*/

@media (max-width: 1024px) {
  .advantages__content {
    margin-bottom: 59.46px;
  }

  .advantages__title {
    margin-bottom: 23px;
    font-size: 32px;
  }

  .advantages__subtitle {
    margin-bottom: 33px;
    font-size: 20px;
  }

  .advantages__subtitle::before,
  .advantages__subtitle::after {
    width: 40px;
  }

  .advantages__subtitle::before {
    left: -62px;
  }

  .advantages__subtitle::after {
    right: -62px;
  }

  .advantages__description {
    max-width: 666px;
    font-size: 16px;
  }

  .advantages__item {
    flex-basis: 180px;
    font-size: 18px;
  }

  .advantages__num {
    margin-bottom: 26px;
    width: 104px;
    height: 104px;
    font-size: 52px;
  }
}

@media (max-width: 420px) {
  .advantages {
    padding: 30px 0 60px;
  }

  .advantages__content {
    margin-bottom: 41.65px;
  }

  .advantages__title {
    margin-bottom: 17px;
    font-size: 20px;
  }

  .advantages__subtitle {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .advantages__subtitle::before,
  .advantages__subtitle::after {
    width: 20px;
    height: 1px;
  }

  .advantages__subtitle::before {
    left: -42px;
  }

  .advantages__subtitle::after {
    right: -42px;
  }

  .advantages__description {
    font-size: 12px;
  }

  .advantages__slider {
    max-width: 100%;
  }

  .advantages__list {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: all 0.5s ease-out;
    gap: 0;
  }

  #advantage-1:checked ~ .advantages__wrapp .advantages__list {
    margin-left: 0;
  }

  #advantage-2:checked ~ .advantages__wrapp .advantages__list {
    margin-left: -100%;
  }

  #advantage-3:checked ~ .advantages__wrapp .advantages__list {
    margin-left: -200%;
  }

  #advantage-4:checked ~ .advantages__wrapp .advantages__list {
    margin-left: -300%;
  }

  .advantages__item {
    flex-basis: 100%;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .advantages__item span {
    max-width: 166px;
  }

  #advantage-1:checked ~ .advantages__wrapp .advantages__list .advantages__item:nth-child(1),
  #advantage-2:checked ~ .advantages__wrapp .advantages__list .advantages__item:nth-child(2),
  #advantage-3:checked ~ .advantages__wrapp .advantages__list .advantages__item:nth-child(3),
  #advantage-4:checked ~ .advantages__wrapp .advantages__list .advantages__item:nth-child(4) {
    opacity: 1;
  }

  .advantages__btn-control {
    display: block;
  }
}
