/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2');
  font-display: swap;
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic-500.woff2') format('woff2');
  font-display: swap;
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2');
  font-display: swap;
}

/* roboto-900 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-cyrillic-900.woff2') format('woff2');
  font-display: swap;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #383a4c;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.section {
  padding: 70px 0;
}

.section__title {
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
}

.section__subtitle {
  font-size: 22;
  font-weight: 500;
  line-height: normal;
  color: rgba(255, 255, 255, 0.8);
}

.container {
  --width-container: 1200px;
  --padding-container: 30px;
  max-width: calc(var(--width-container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    --width-container: 964px;
  }
}

@media (max-width: 420px) {
  .container {
    --padding-container: 15px;
  }
}

@media (max-width: 320px) {
  .container {
    --width-container: 290px;
  }
}
