.header {
  padding: 40px 0;
  color: #fff;
  background-image: url('../img/bg-promo.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(47, 50, 75, 0.85);
  background-blend-mode: multiply;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__link {
  margin-bottom: 2.85px;
  font-size: 23.85px;
  line-height: normal;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover,
.header__link:focus {
  opacity: 0.8;
}

.header__link:active {
  color: var(--color-accent);
}

.header__btn {
  font-size: 16px;
  line-height: normal;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.header__btn:hover,
.header__btn:focus {
  opacity: 0.8;
}

.header__btn:active {
  color: var(--color-accent);
}

.header__btn::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.header__btn:hover:after,
.header__btn:focus:after {
  opacity: 0;
}

.header__btn-icon {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 28px 0;
  }

  .header__logo {
    width: 60px;
    height: 60px;
  }

  .header__link {
    font-size: 21px;
  }

  .header__btn {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .header {
    padding: 15px 0;
  }

  .header__logo {
    width: 30px;
    height: 30px;
  }

  .header__link,
  .header__btn {
    display: none;
  }

  .header__btn-icon {
    display: flex;
    align-items: center;
  }
}
